@font-face {
	font-family: "San Francisco";
	src: url("../fonts/SFUIText-LightItalic.woff2") format("woff2"),
		url("../fonts/SFUIText-LightItalic.woff") format("woof");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "San Francisco";
	src: url("../fonts/SFUIText-Regular.woff2") format("woff2"), url("../fonts/SFUIText-Regular.woff") format("woof");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "San Francisco";
	src: url("../fonts/SFUIText-Semibold.woff2") format("woff2"), url("../fonts/SFUIText-Semibold.woff") format("woof");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
